<ion-content>
  <div class="main_content_div">

      <ion-label class="welcome_lbl">Create Account</ion-label>

      <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Email ID</ion-label>
          <ion-input></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Mobile No</ion-label>
          <ion-input></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input></ion-input>
      </ion-item>

      <div class="flex_div">
          <div class="check_flex">
              <ion-checkbox></ion-checkbox>
              <ion-label>Remember me</ion-label>
          </div>
          <ion-label class="flex_lbl">Forgot password ?</ion-label>
      </div>

      <ion-button expand="block" (click)="goToHome()">
          Create Account
      </ion-button>

      <ion-label class="last_lbl">Allready have an account ? <span (click)="goToLogin()">Sign In</span></ion-label>

  </div>
</ion-content>
