<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-button (click)="goBack()" fill="clear" slot="start">
          <ion-icon name="arrow-back" style="font-size: 26px;color: black"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

    
<div class="main_content_div">

    <ion-label class="welcome_lbl">Add Money</ion-label>

    <div class="grey_box">
        <ion-label>Available Balance : Rs. 2000</ion-label>
    </div>

    <ion-item>
        <ion-label position="floating">Enter Amount</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>

    <div class="btn_div">
        <ion-button fill="outline" shape="round" size="small">
          + 1000
        </ion-button>
        <ion-button fill="outline" shape="round" size="small">
          + 3000
        </ion-button>
        <ion-button fill="outline" shape="round" size="small">
          + 5000
        </ion-button>
    </div>

    <ion-button class="last_btn" expand="block" (click)="goToPayment()">
        Add Money
    </ion-button>

</div>
</ion-content>
